
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Main</title>
    <link href="/extjs/resources/theme-triton-all.css" rel="stylesheet" />
</head>
<body>
    <script src="/extjs/ext-all-debug.js"></script>
    <script src="/extjs/theme-triton-debug.js"></script>
    <script type="text/javascript">
        Ext.Loader.setConfig({
            enable: true,
            paths: {
                "xf.core": "/xf",
                "xf": "/app",
                "xf.view": "/app/view",
                "xf.controller": "/app/controller",
                "xf.model": "/app/model",
                "Ext.ux.upload": "/xf/plugin/upload",
                "Ext.ux.exporter": "/xf/plugin/exporter"
            }
        });
    </script>

    <script type="text/javascript">

        Ext.onReady(function () {
            Ext.toast("欢迎使用EAP", "欢迎", "t");
            Ext.application("xf.core.Application");
        });

    </script>
</body>
</html>
